pandas
numpy
scikit-learn
ipykernel
unidecode
openai
ipdb
tqdm
fastapi
uvicorn
chromadb
sentence-transformers
streamlit
requests
streamlit_card
streamlit-extras
python-multipart
xgboost
matplotlib
optuna
pickle
json
google-cloud-bigquery
